@charset "UTF-8";
/* CSS Document */

html {
	background-color: HotPink;
	background-image:url(../imgs/bkg.png);
	background-size:100%;
	background-attachment: fixed;
	background-repeat:repeat-y;
	font-family: Helvetica;
	margin-left:20%;
	margin-right:20%;
	font-size:18px;
	line-height:34px;
}

h1, h2, h3 {
	text-shadow: 2px 2px #33FFFF;
	background-color:white;
	color: HotPink;
	border: 1px solid white;
	padding:2px;
}

h1 {
	text-align:center;
	padding: 50px;
}

ul, p, pre, xmp {
	background: SlateGray ;
	color: white;
	padding:5px;
	
}

pre, xmp, strong {
	color: blue;
}

pre, xmp {
	white-space:pre-wrap;
}
pre, xmp.inline {
	display:inline;
}



ul {
	list-style:none;
}

ul li:before { 
   content: "\+ ";
}

a:link, a:visited {
	color: orange;
	text-decoration: none;
	border-bottom: 1px dashed;
}

a:hover {
	font-family: 'Creepster', cursive;
}

/* expanding menu based on this http://www.surguy.net/menu/ */

#nav * {margin:0;padding:0;}
div.menu {
  position: fixed;
  top: 0;
  right:20px;
  background: yellow;
	padding: 5px 10px;
	border-bottom-right-radius:10px;
	border-bottom-left-radius:10px;
	box-shadow:2px 2px 2px blue;
	letter-spacing:1px;
	height:20px;
	font-size:16px;
  font-family: serif;
  line-height:16px;
}
div.menu ul {
	list-style-type:none;
	display:none;
}
div.menu li {
	float:left;
	margin:0 1px;
}
div.menu a {
  color:blue;
  border:0px;
  text-decoration:underline;
}
div.menu a:hover {
	color:red;
  font-size:16px;
  line-height:16px;
  letter-spacing:1px;
}
.active {
	font-weight:bold;
	color:Red;
	font-size:18px;
}

div.menu div.popup { display: none; }
div.menu:hover div.popup { 
    display: block; 
    float:left;
}
div.menu:hover div.plus { 
    display: none; 
}


