<div id="title">
	<p>the website of <a href="{{ site.url }}" id="butt">owen byron roberts</a>
	aka owen ribbit</p>
</div>

<div id="menu">

	<ul>
		<li><strong>animation</strong></li>
		<li><a href="{{ site.url }}/work/ssm">seven spider myths</a></li>
		<li><a href="{{ site.url }}/work/seagulls/">seagulls</a></li>
		<li><a href="{{ site.url }}/work/hwyd/">how was your day</a></li>
		<li><a href="{{ site.url }}/work/trilogy/">hot dogs</a></li>
		<li><a href="{{ site.url }}/work/birdbreakfast/">bird breakfast</a></li>
		<li><a href="{{ site.url }}/work/theonlyoption/index.html">the only option</a></li>
		<li><a href="{{ site.url }}/work/mistakes">mistakes</a></li>
	</ul>

	<ul>
		<li><strong>art games</strong></li>
		<li><a href="{{ site.url }}/work/the-moon/">the moon</a></li>
		<li><a href="{{ site.url }}/work/window_door/">window door</a></li>
		<li><a href="{{ site.url }}/work/garden/">garden</a></li>
		<li><a href="{{ site.url }}/work/infinite_hell/">infinite hell</a></li>
		<li><a href="{{ site.url }}/work/idtio/">idtio</a></li>
		<li><a href="{{ site.url }}/work/catslair/">catslair</a></li>
		<li><a href="{{ site.url }}/work/hotdogs/">hot dogs</a></li>
		<!-- <li><a href="{{ site.url }}/work/breakfast/">breakfast</a></li> -->
		<li><a href="{{ site.url }}/work/endlessness/">endlessness</a></li>
		<li><a href="{{ site.url }}/work/godisaghost/index.html">god is a ghost</a></li>
		<li><a href="{{ site.url }}/work/gtky/index.html">getting to know you</a> </li>
		<li><a href="{{ site.url }}/work/somethingave/index.html">something ave.</a> </li>
		<li><a href="{{ site.url }}/work/refresh/index.html">refresh</a> </li>
	</ul>

	<ul>
		<li><strong>other</strong></li>
		<li><a href="/work/chimera/">chimera</a></li>
		<li><a href="/work/thedeadshallberaised/index.html">the dead shall be raised</a></li>
		<li><a href="/work/goodbye/index.html">goodbye</a></li>
		<li><a href="/work/twosummers/index.html">two summers</a></li>
	</ul>

	<!-- <ul>
		<li><a href="/work/">work</a></li>
		<li><a href="http://lines.owen.cool">lines</a></li>
		<li><a href="/teaching.html">teaching</a></li>
	</ul> -->

	<ul>
		<li><a href="https://www.youtube.com/channel/UCiMZZxqWR80EPO5mQPbi9aQ" target="_blank">youtube</a></li>
		<li><a href="https://owenribbit.itch.io/" target="_blank">itch.io</a></li>
		<li><a href="https://www.instagram.com/owenribbit/" target="_blank">instagram</a></li>
		<li><a href="{{ site.url }}/odds/">odds and ends</a></li>
		<li><a href="mailto:&#111;&#098;&#114;&#111;&#098;&#101;&#114;&#116;&#115;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;">email</a></li>
		<li><a href="{{ site.url }}/about/">about</a></li>
		<li id="home"><a href="/">home</a></li>
	</ul>
	
</div><!-- end menu -->

