<div id="title">
	<p>the website of <a href="{{ site.url }}/index.html" id="butt">owen byron roberts</a>
	aka owen ribbit</p>
</div>

<div id="menu">
	<ul>
		<li><a href="{{ site.url }}/animation">animation</a></li>
		<li><a href="{{ site.url }}/interactive">interactive</a></li>
		<li><a href="{{ site.url }}/other">other</a></li>
		<li><a href="{{ site.url }}/links">links</a></li>
		<li><a href="{{ site.url }}/about/">about</a></li>
		<li><a href="{{ site.url }}/odds/">odds and ends</a></li>
		<li id="home"><a href="{{ site.url }}/index.html">home</a></li>
	</ul>
</div>

