body {
	font-size:14px;
	font-family:monospace, sans-serif;
	position:relative;
	background-position:center;
	line-height:1.45;
}
#bkg {
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index:-99;
}
img { max-width:100%; }
#bkg img {
	text-align:center;
	margin:0 auto;
	display:block;
}

a:hover {
	background-color:pink;
}
a:active {
	color:pink;
}

p {
	margin:6px 0;
}
hr {
	border-top: 1px dotted pink;
    border-bottom: none;
}

.thumb {
	display: none;
	position:fixed;
	right: 10px;
	top:10px;
	z-index:-1;
}

/*  desktop only */

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {

  	.work:hover + .thumb {
		display:inline-block;
	}	
}

