body {
	margin:0;
	font-size:24px;
	font-family:monaco, sans-serif;
	position:relative;
	background-position:center;
}
#bkg {
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index:-99;
}
#bkg img {
	text-align:center;
	margin:0 auto;
	display:block;
}