<div class="row menu">
	<div class="columns medium-8">
		<p>the website of <br><strong><a href="/index.html" id="butt">owen byron roberts</a></strong></p>
	</div>

	<div class="columns medium-2">
		<ul>
			<li><a href="/work/">work</a></li>
			<li><a href="http://lines.owen.cool">lines</a></li>
			<li><a href="/teaching.html">teaching</a></li>
		</ul>
	</div>
	
	<div class="columns medium-2 end">
		<ul>
			<li><a href="{{ site.baseurl }}/blog.html">blog</a></li>
			<li><a href="http://twitter.com/owenribbit" target="blank">twitter</a></li>
			<li><a href="mailto:&#111;&#098;&#114;&#111;&#098;&#101;&#114;&#116;&#115;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;">email</a></li>
			
			<!-- <li><a href="http://doodoobristle.tumblr.com/" target="blank">tumblr</a></li>
			<li><a href="http://github.com/owenroberts" target="blank">github</a></li> -->
			
		</ul>
	</div>
</div><!-- end menu -->

<!-- <p>currently teaching at the <a href="http://ima.nyu.sh/" target="blank">interactive media arts</a> department at nyu shanghai.</p> -->
	<!-- <p>and i do some <a href="#freelance">freelance work</a></p> -->

	<!-- <p>i'm a teacher, artist and writer</p>
		<p>i make apps, games, animations, software, installations, books, websites, etc.</p>
		<p>currently teaching at the <a href="http://www.bmcc.cuny.edu/media-arts/" target="blank">borough of manhattan community college</a> in media arts and technology department</p> -->