@charset "UTF-8";
/* CSS Document */

html {
	background-color: HotPink;
	background-image:url(../imgs/bkg.png);
	background-size:100%;
	background-attachment: fixed;
	background-repeat:repeat-y;
	font-family: Helvetica;
	margin-left:20%;
	margin-right:20%;
	font-size:18px;
	line-height:34px;
}

h1, h2, h3 {
	text-shadow: 2px 2px #33FFFF;
	background-color:white;
	color: HotPink;
	border: 1px solid white;
	padding:2px;
}

h1 {
	text-align:center;
	padding: 50px;
}

ul, p, pre, xmp {
	background: SlateGray ;
	color: white;
	padding:5px;
	
}

pre, xmp, strong {
	color: blue;
}

pre, xmp {
	white-space:pre-wrap;
}
pre, xmp.inline {
	display:inline;
}



ul {
	list-style:none;
}

ul li:before { 
   content: "\+ ";
}

a:link, a:visited {
	color: orange;
	text-decoration: none;
	border-bottom: 1px dashed;
}

a:hover {
	font-family: 'Creepster', cursive;
}




