---
layout: main
---

<div class="post">
	<div class="front">
		<p class="post-title" > {{ title }} </p>
		<p class="post-info"> 
			<span class="date">{{ date | date: "%B %e, %Y" }}</span>
			· <span class="cats">
				tags: 
				{% assign categories = categories %}
				{% for category in categories %}
	 		 	<span class="cat">
	 		 		<a href="{{ site.url }}/category.html#{{ category }}" rel="category">{{ category }}</a>{% unless forloop.last %},{% endunless %}
	 		 	</span>
				{% endfor %}
		</p>
		<ul class="links">

			{% assign previousPost = collections.posts | getPreviousCollectionItem: page %}
			{% assign nextPost = collections.posts | getNextCollectionItem: page %}

			{% if previousPost %}
				<li><span class="page-link">next:</span> <a class="prev" href="{{ previousPost.url }}">{{ previousPost.data.title }}</a></li>
			{% endif %}

			{% if nextPost %}
				<li><span class="page-link">previous:</span> <a class="next" href="{{ nextPost.url }}">{{ nextPost.data.title }} </a></li>
			{% endif %}
			<li><a href="/blog.html">return to blog</a></li>
		</ul>
	</div>
	<div class="entry">
		{{ content }}
	</div>
	<div class="foot">
		<ul class="links">
			{% if previousPost %}
				<li><span class="page-link">next:</span> <a class="prev" href="{{ previousPost.url }}">{{ previousPost.data.title }}</a></li>
			{% endif %}

			{% if nextPost %}
				<li><span class="page-link">previous:</span> <a class="next" href="{{ nextPost.url }}">{{ nextPost.data.title }} </a></li>
			{% endif %}
			<li><a href="/blog.html">return to blog</a></li>
		</ul>
	</div>
</div>